* {
	padding: 0;
    margin: 0;
    font-family: Calibri;
}
@media (orientation : portrait), (max-width : 800px) {
    h1 {
        /* color : lightblue; */
    }
}
@font-face {
    font-family: Abel;
    src: url('Abel-Regular.ttf');
}
@font-face {
    font-family: Titillium;
    src: url('TitilliumWeb-Regular.ttf');
}
html {
    background-color: #444444;
    color: #222222;
    text-align: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
#background {
    background: url('background7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: fixed;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    transition-duration: .5s;
}
.blur {
    filter: blur(6px) brightness(85%) saturate(40%);
}
nav {
    position: fixed;
    left: -245px;
    top: 0px;
    height: 100%;
    width: auto;
    transition-duration: .5s;
    z-index: 1;
}
nav.is-active {
    background-color: #fff9;
    left: 0px;
}
#hamburger-container {
    text-align: right;
}
.blackhamburger {
    background-color: #0008;
}
nav button:focus {
    outline: unset;
}
nav li {
    font-size: 2em;
    color: #222;
    cursor: default;
    padding: 0px 70px;
    transition-duration: .5s;
}
nav.is-active li:hover {
    background-color: #fff8;
}
#main-container {
    transition-duration: .5s;
}
#header-container {
    height: 100vh;
}
#header-container * {
    white-space: nowrap;
    color: #fff;
}
#arrow-container {
    margin: auto;
    transition-duration: .5s;
}
.arrow {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.Titillium {
    font-family: Titillium;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
    margin-bottom: 6px;
}
a {
    text-decoration: none;
}
p {
    margin: 1em 0px;
}
.w3-display-middle {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.section {
    padding: 4% 10%;
}
.section:nth-child(even) {
    background-color: #EEEEEECC;
}
.section:nth-child(odd) {
    background-color: #FFFFFFCC;
}
.icon {
    display: inline-block;
    font-size: 1.5em;
    color: #000000;
    outline: #FFFFFF;
    transition-duration: .5s;
    vertical-align: top;
}
.icon-small {
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 10px;
}
.icon-large {
    height: 140px;
    width: 140px;
    margin: 20px;
    padding: 20px;
}
.icon:hover {
    background-color: #FFFFFF44;
    outline: 1px solid #FFFFFF;
    transition-duration: .5s;
}
div img {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto auto;
}
.linksicons {
    height: 100px;
    width: 100px;
    display: inline-block;
    line-height: 100px;
    color: #FFFFFF;
    font-size: 3em;
}
.linkedin {
    background-color: #007bb5;
}
.github {
    background-color:#24292e;
}
ul li {
    list-style: none;
}
.scroll-indicator {	
    position: relative;
	-webkit-animation: bounce 2s infinite; 
	animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
	 0% { top: 20px; }
	 50%   { top: 40px; }
	 100% { top: 20px; }
}

@keyframes bounce {
	 0% { top: 20px; }
	 50%   { top: 40px; }
	 100% { top: 20px; }
}
#cssloadindicator {
    color: red;
}